:root {
  --lavender-web: #d8d8f6ff;
  --african-violet: #b18fcfff;
  --heliotrope-gray: #978897ff;
  --dark-liver: #494850ff;
  --raisin-black: #2c2c34ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gluten", cursive;
  min-height: 100vh;
  background-color: var(--raisin-black);
  color: white;
}

.header {
  margin: 0px 50px;
  text-align: center;
  padding: 20px;
}

.header h1 {
  padding-bottom: 20px;
}

.snippets-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.snippets-card {
  width: 18rem;
  border: 1px dashed var(--lavender-web);
}
